USE [master]
GO
/****** Object:  Database [BookStoreGraphQL]    Script Date: 11/7/2022 9:35:18 PM ******/
CREATE DATABASE [BookStoreGraphQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreGraphQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStoreGraphQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreGraphQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStoreGraphQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreGraphQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreGraphQL]
GO
USE [BookStoreGraphQL]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/7/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/7/2022 9:35:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221104034244_InitialCreate', N'5.0.17')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Type], [Price]) VALUES (1, N'Clean Code', N'Máy tính', CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Books] ([Id], [Title], [Type], [Price]) VALUES (3, N'Ám Ảnh Sợ Xã Hội - Chạy Trốn Hay Đối Mặt', N'Tâm lý', CAST(90000.00 AS Decimal(18, 2)))
INSERT [dbo].[Books] ([Id], [Title], [Type], [Price]) VALUES (5, N'Doraemon Truyện Ngắn', N'Truyện tranh', CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
USE [master]
GO
