.cartContainer {
    display: inline-block;
    position: relative;
  }
  
  .cartDropDown {
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 200px;
    text-align: left;
  }
  
  .cartDropDown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cartDropDown li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  .cartDropDown li:last-child {
    border-bottom: 0;
  }
  
  .cartButton {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cartButton svg {
    margin: 0 5px 0 0;
  }
  

  .bookContainer {
    border: 1px solid burlywood;
    margin: 0 0 10px;
    padding: 10px;
    list-style: none;
  }
  
  .bookContainer h4 {
    margin: 0 0 10px;
  }
  
  .bookContainer p {
    margin-bottom: 0;
  }
  
  .checkout {
    margin: 20px 0;
    text-align: center;
  }

  .header {
    margin: 0 0 30px;
    text-align: center;
  }
  